<a href="https://colab.research.google.com/github/fadhlijahfal1/Big-Data-Analytic/blob/main/Spark_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Catatan:**

Series = Array 1 dimensi

Dataframe = 2 dimensi (matriks)

Install Java dan Spark

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

Set Environment Variabels

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

In [3]:
!ls

sample_data		 spark-3.5.1-bin-hadoop3.tgz  Tree_Environment.csv
spark-3.5.1-bin-hadoop3  Tree.csv

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

Contoh Penggunaan Pyspark Sederhana

In [5]:
data = [("Budi", 22), ("Apik", 81), ("Aji", 25)]

df = spark.createDataFrame(data, ["Nama", "Usia"])

df.show()

+----+----+
|Nama|Usia|
+----+----+
|Budi|  22|
|Apik|  81|
| Aji|  25|
+----+----+

Load Dataset

In [10]:
trees_df = spark.read.csv("/content/Tree.csv", header=True, inferSchema=True)

trees_df.show()

+-------+-------------------+--------+---------+-----------+--------------+------------+---------+---------------+-------------+
|Tree_ID|            Species|Height_m|Age_years|Diameter_cm|      Location|Planted_Date|Evergreen|Disease_Present|Health_Status|
+-------+-------------------+--------+---------+-----------+--------------+------------+---------+---------------+-------------+
|      1|      Quercus robur|    25.3|       45|      120.5|  North Forest|   3/15/1978|    false|           true|         Sick|
|      2|   Pinus sylvestris|    32.1|       60|       95.8|Mountain Range|   7/22/1963|     true|          false|      Healthy|
|      3|Acer pseudoplatanus|    18.7|       30|       68.2|     City Park|   11/5/1993|    false|           true|         Sick|
|      4|    Fagus sylvatica|    28.9|       55|      112.3|   South Slope|   9/12/1968|    false|          false|      Healthy|
|      5|        Picea abies|    41.5|       85|      145.0|   Alpine Zone|   5/30/1938|     true|           true|         Dead|
|      6|     Betula pendula|    15.2|       20|       45.7|      Lakeside|   8/19/2003|    false|          false|      Healthy|
|      7|        Pinus nigra|    29.8|       50|      103.4|  Coastal Area|   4/25/1973|     true|          false|      Healthy|
|      8|    Quercus petraea|    27.4|       48|      118.9|    West Woods|  10/11/1975|    false|           true|         Sick|
|      9|   Acer platanoides|    19.5|       35|       72.6|  Urban Center|   2/28/1988|    false|          false|      Healthy|
|     10|         Abies alba|    NULL|       70|      128.3|Mountain Range|  12/10/1953|     true|           true|         Dead|
|     11| Fraxinus excelsior|    22.8|       40|       89.7|     Riverbank|    7/7/1983|    false|           true|         Sick|
|     12|    Pinus ponderosa|    31.9|       65|      110.2|  North Forest|   6/14/1958|     true|          false|      Healthy|
|     13|   Betula pubescens|    14.3|       18|       42.1|    Swamp Area|   9/23/2005|    false|          false|         NULL|
|     14|       Picea glauca|    38.2|       80|      139.6|   Alpine Zone|   4/17/1943|     true|          false|      Healthy|
|     15|      Quercus rubra|    24.6|       43|      115.8|   East Valley|    8/9/1980|    false|           true|         Sick|
|     15|      Quercus rubra|    24.6|       43|      115.8|   East Valley|    8/9/1980|    false|           true|         Sick|
|     16|     Acer saccharum|    20.1|       38|       75.3|     City Park|   1/30/1985|    false|          false|      Healthy|
|     17|      Pinus strobus|    27.5|       52|       97.4|  Coastal Area|   3/12/1971|     true|           true|         Dead|
|     18|   Fagus orientalis|    26.8|       50|      109.7|   South Slope|  11/25/1973|    false|          false|      Healthy|
|     19|      Abies procera|    34.9|       68|      123.8|Mountain Range|   10/5/1955|     true|          false|      Healthy|
+-------+-------------------+--------+---------+-----------+--------------+------------+---------+---------------+-------------+
only showing top 20 rows

In [13]:
environment_df = spark.read.csv("/content/Tree_Environment.csv", header = True, inferSchema = True)

environment_df.show()

+-------+---------+------------------+-----------------+--------------------------+-----------+
|Tree_ID|Soil_Type|Annual_Rainfall_mm|Avg_Temperature_C|Carbon_Sequestration_kg_yr|     Family|
+-------+---------+------------------+-----------------+--------------------------+-----------+
|      1|     Loam|              1200|              8.5|                      25.3|   Fagaceae|
|      2|    Sandy|               800|              6.2|                      38.7|   Pinaceae|
|      3|     Clay|               950|             10.1|                      15.9|Sapindaceae|
|      4|     Loam|              1100|              7.8|                      28.4|   Fagaceae|
|      5|    Rocky|               650|              4.5|                      42.1|   Pinaceae|
|      6|    Sandy|               900|              9.3|                      10.2| Betulaceae|
|      7|     Clay|              1050|              8.9|                      32.8|   Pinaceae|
|      8|     Loam|              1150|              8.2|                      26.7|   Fagaceae|
|      9|     Clay|               980|             11.2|                      17.3|Sapindaceae|
|     10|    Rocky|               700|              3.9|                      39.5|   Pinaceae|
|     11|     Loam|              1000|              9.1|                      21.6|   Oleaceae|
|     12|    Sandy|               850|              7.1|                      35.4|   Pinaceae|
|     13|     Peat|              1300|              6.7|                       8.9| Betulaceae|
|     14|    Rocky|               600|              5.2|                      41.7|   Pinaceae|
|     15|     Loam|              1180|              8.4|                      24.8|   Fagaceae|
|     16|     Clay|               920|             10.5|                      18.6|Sapindaceae|
|     17|    Sandy|               880|              7.8|                      30.2|   Pinaceae|
|     18|     Loam|              1120|              8.0|                      27.1|   Fagaceae|
|     19|    Rocky|               680|              4.8|                      37.9|   Pinaceae|
|     20|     Peat|              1250|              6.3|                      12.4| Betulaceae|
+-------+---------+------------------+-----------------+--------------------------+-----------+

Basic DataFrame Operations

In [14]:
# Menampilkan 5 Baris Data
trees_df.show(5)

+-------+-------------------+--------+---------+-----------+--------------+------------+---------+---------------+-------------+
|Tree_ID|            Species|Height_m|Age_years|Diameter_cm|      Location|Planted_Date|Evergreen|Disease_Present|Health_Status|
+-------+-------------------+--------+---------+-----------+--------------+------------+---------+---------------+-------------+
|      1|      Quercus robur|    25.3|       45|      120.5|  North Forest|   3/15/1978|    false|           true|         Sick|
|      2|   Pinus sylvestris|    32.1|       60|       95.8|Mountain Range|   7/22/1963|     true|          false|      Healthy|
|      3|Acer pseudoplatanus|    18.7|       30|       68.2|     City Park|   11/5/1993|    false|           true|         Sick|
|      4|    Fagus sylvatica|    28.9|       55|      112.3|   South Slope|   9/12/1968|    false|          false|      Healthy|
|      5|        Picea abies|    41.5|       85|      145.0|   Alpine Zone|   5/30/1938|     true|           true|         Dead|
+-------+-------------------+--------+---------+-----------+--------------+------------+---------+---------------+-------------+
only showing top 5 rows

In [16]:
# Menampilkan Pohon Yang TIngginya Lebih dari 30M dan Berumur Kurang dari 70 Tahun
tall_young_trees = trees_df.filter((trees_df.Height_m > 30) & (trees_df.Age_years < 70))

tall_young_trees.show()

+-------+----------------+--------+---------+-----------+--------------+------------+---------+---------------+-------------+
|Tree_ID|         Species|Height_m|Age_years|Diameter_cm|      Location|Planted_Date|Evergreen|Disease_Present|Health_Status|
+-------+----------------+--------+---------+-----------+--------------+------------+---------+---------------+-------------+
|      2|Pinus sylvestris|    32.1|       60|       95.8|Mountain Range|   7/22/1963|     true|          false|      Healthy|
|     12| Pinus ponderosa|    31.9|       65|      110.2|  North Forest|   6/14/1958|     true|          false|      Healthy|
|     19|   Abies procera|    34.9|       68|      123.8|Mountain Range|   10/5/1955|     true|          false|      Healthy|
+-------+----------------+--------+---------+-----------+--------------+------------+---------+---------------+-------------+

In [17]:
# Menampilkan Jumlah Dengan Status Kesehatan
health_counts = trees_df.groupBy("Health_Status").count()

health_counts.show()

+-------------+-----+
|Health_Status|count|
+-------------+-----+
|         NULL|    1|
|         Dead|    3|
|         Sick|    7|
|      Healthy|   10|
+-------------+-----+

Data Cleaning

In [18]:
# Cek Missing Values
from pyspark.sql.functions import col, sum

missing_values = trees_df.select([sum(col(c).isNull().cast("int")).alias(c) for c in
trees_df.columns])

missing_values.show()

+-------+-------+--------+---------+-----------+--------+------------+---------+---------------+-------------+
|Tree_ID|Species|Height_m|Age_years|Diameter_cm|Location|Planted_Date|Evergreen|Disease_Present|Health_Status|
+-------+-------+--------+---------+-----------+--------+------------+---------+---------------+-------------+
|      0|      0|       1|        0|          0|       0|           0|        0|              0|            1|
+-------+-------+--------+---------+-----------+--------+------------+---------+---------------+-------------+

In [19]:
# Isi Missing Values di Height_m dengan Median
from pyspark.sql.functions import median

median_height = trees_df.select(median("Height_m")).first()[0]

trees_df = trees_df.na.fill(median_height, subset = ["Height_m"])

trees_df.show()

+-------+-------------------+--------+---------+-----------+--------------+------------+---------+---------------+-------------+
|Tree_ID|            Species|Height_m|Age_years|Diameter_cm|      Location|Planted_Date|Evergreen|Disease_Present|Health_Status|
+-------+-------------------+--------+---------+-----------+--------------+------------+---------+---------------+-------------+
|      1|      Quercus robur|    25.3|       45|      120.5|  North Forest|   3/15/1978|    false|           true|         Sick|
|      2|   Pinus sylvestris|    32.1|       60|       95.8|Mountain Range|   7/22/1963|     true|          false|      Healthy|
|      3|Acer pseudoplatanus|    18.7|       30|       68.2|     City Park|   11/5/1993|    false|           true|         Sick|
|      4|    Fagus sylvatica|    28.9|       55|      112.3|   South Slope|   9/12/1968|    false|          false|      Healthy|
|      5|        Picea abies|    41.5|       85|      145.0|   Alpine Zone|   5/30/1938|     true|           true|         Dead|
|      6|     Betula pendula|    15.2|       20|       45.7|      Lakeside|   8/19/2003|    false|          false|      Healthy|
|      7|        Pinus nigra|    29.8|       50|      103.4|  Coastal Area|   4/25/1973|     true|          false|      Healthy|
|      8|    Quercus petraea|    27.4|       48|      118.9|    West Woods|  10/11/1975|    false|           true|         Sick|
|      9|   Acer platanoides|    19.5|       35|       72.6|  Urban Center|   2/28/1988|    false|          false|      Healthy|
|     10|         Abies alba|   26.05|       70|      128.3|Mountain Range|  12/10/1953|     true|           true|         Dead|
|     11| Fraxinus excelsior|    22.8|       40|       89.7|     Riverbank|    7/7/1983|    false|           true|         Sick|
|     12|    Pinus ponderosa|    31.9|       65|      110.2|  North Forest|   6/14/1958|     true|          false|      Healthy|
|     13|   Betula pubescens|    14.3|       18|       42.1|    Swamp Area|   9/23/2005|    false|          false|         NULL|
|     14|       Picea glauca|    38.2|       80|      139.6|   Alpine Zone|   4/17/1943|     true|          false|      Healthy|
|     15|      Quercus rubra|    24.6|       43|      115.8|   East Valley|    8/9/1980|    false|           true|         Sick|
|     15|      Quercus rubra|    24.6|       43|      115.8|   East Valley|    8/9/1980|    false|           true|         Sick|
|     16|     Acer saccharum|    20.1|       38|       75.3|     City Park|   1/30/1985|    false|          false|      Healthy|
|     17|      Pinus strobus|    27.5|       52|       97.4|  Coastal Area|   3/12/1971|     true|           true|         Dead|
|     18|   Fagus orientalis|    26.8|       50|      109.7|   South Slope|  11/25/1973|    false|          false|      Healthy|
|     19|      Abies procera|    34.9|       68|      123.8|Mountain Range|   10/5/1955|     true|          false|      Healthy|
+-------+-------------------+--------+---------+-----------+--------------+------------+---------+---------------+-------------+
only showing top 20 rows